body {
  background-color: rgba(0, 0, 255, 0.46);
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
  "header"
  "section"
  "footer";
}

.header {
  grid-area: header;
  color: white;
  text-align: center;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}

section {
  background-color: white;
  min-width: 900px;
  max-width: min-content;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.467);
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
}

.article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 450px;
  max-width: min-content;
  text-align: left;
}

.article#imagem {
  background-color: rgba(0, 0, 255, 0.679);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

footer {
  color: white;
  text-align: center;
}

h1 {
  margin-top: 30px;
}

h2 {
  text-align: center;
}
